{% extends 'base.html' %}
    
    {% block conteudo%}

    <div class="principal">

      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../static/images/ceu.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../static/images/decoracao-de-barcos-schaeffer-580-externa.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../static/images/flex.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../static/images/interno.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../static/images/por du.webp" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


        <div>
            <h1>Bem-vindo à Marina Royale</h1>

            <p>Na Marina Royale, somos apaixonados por excelência náutica e comprometidos em fornecer as mais luxuosas embarcações do mercado. Nossa empresa é líder na venda de iates e barcos de alta qualidade, oferecendo uma experiência inigualável para nossos clientes que buscam o máximo em conforto, desempenho e estilo..</p>

            <p>Na AeroVenture, acreditamos que a mobilidade urbana pode e deve ser mais eficiente, sustentável e emocionante. Nossa missão é criar soluções de transporte aéreo acessíveis e seguras, que não apenas melhorem a qualidade de vida nas cidades, mas também respeitem o meio ambiente.</p>
        </div>

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  O Que Fazemos
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                    Na Marina Royale, somos especialistas em fornecer embarcações de luxo que combinam elegância, desempenho e conforto. Oferecemos uma vasta gama de iates e barcos premium, selecionados cuidadosamente para atender às mais altas expectativas de nossos clientes. Nossa missão é transformar seus sonhos náuticos em realidade, proporcionando a você a embarcação perfeita para explorar os mares com estilo e sofisticação.
                  </p>
                </div>
              </div>
          </div>
      
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Segurança e Inovação  
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
      
                <p>
                  Na Marina Royale, a segurança e a inovação estão no coração de tudo o que fazemos. Compreendemos que, ao adquirir uma embarcação de luxo, nossos clientes esperam não apenas conforto e elegância, mas também a certeza de que estão navegando em um dos veículos mais seguros e tecnologicamente avançados disponíveis.
                </p>
      
              </div>
            </div>
          </div>
      
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                A Experiência Marina Royale 
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                
                <p>
                  Adquirir uma embarcação com a Marina Royale é mais do que uma compra; é o começo de uma jornada extraordinária. Estamos dedicados a oferecer uma experiência incomparável, desde o momento em que você entra em contato conosco até cada vez que você sai para o mar.
                </p>

                <p>
                  Explore o mundo da navegação de luxo com a Marina Royale e descubra uma nova dimensão de liberdade, conforto e estilo. Estamos aqui para transformar sua visão em realidade e garantir que cada momento no mar seja inesquecível.
                </p>

              </div>
            </div>
          </div>
        </div>
      
        <div>
          <h1> Junte-se a Nós </h1>
  
          <p> Convidamos você a fazer parte desta revolução. Na AeroVenture, não estamos apenas criando veículos; estamos redefinindo o futuro da mobilidade. Junte-se a nós nesta jornada emocionante e descubra um novo mundo de possibilidades. </p>

          <h1>Nossa missão</h1>

          <p>Nossa missão é realizar os sonhos de nossos clientes, proporcionando a eles uma jornada inesquecível em suas embarcações de luxo. Cada iate e barco que oferecemos é selecionado cuidadosamente para garantir os mais altos padrões de qualidade, inovação e elegância.</p>

          <h1> Nossos serviços incluem </h1>

          <p> 
            Venda de embarcações de luxo: Desde iates majestosos a barcos esportivos de alta performance, nossa coleção atende a todas as preferências e necessidades.
            Consultoria Personalizada: Nossos especialistas estão à disposição para orientar você na escolha da embarcação ideal, considerando todos os detalhes e desejos.
            Financiamento e Seguro: Oferecemos soluções de financiamento flexíveis e opções de seguro abrangentes para garantir que sua experiência de compra seja tranquila e segura.
            Manutenção e Suporte: Nosso compromisso vai além da venda. Disponibilizamos serviços de manutenção e suporte técnico para garantir que sua embarcação esteja sempre em perfeito estado.</p>

          <h1>Compromisso com a segurança </h1>

          <p>Tecnologia de Ponta: Nossas embarcações são equipadas com sistemas de navegação e segurança de última geração, incluindo radares avançados, GPS de alta precisão e sistemas automáticos de prevenção de colisões.
            Construção Robusta: Trabalhamos com fabricantes que utilizam os melhores materiais e técnicas de construção para garantir a integridade estrutural de cada barco.
            Treinamento e Educação: Oferecemos programas de treinamento para nossos clientes, assegurando que estejam totalmente preparados para operar suas embarcações com segurança. </p>

            <h1>O que você pode esperar</h1>

            <p>
              Atendimento Personalizado: Cada cliente é único e tratamos cada um com atenção especial, garantindo que todas as suas necessidades e desejos sejam atendidos.
              Aconselhamento Especializado: Nossa equipe de especialistas está pronta para oferecer conselhos honestos e precisos, ajudando você a tomar a melhor decisão possível.
              Eventos Exclusivos: Como parte da família Marina Royale, você terá acesso a eventos exclusivos, incluindo lançamentos de novos modelos, test drives VIP e muito mais.
              Comunidade de Luxo: Ao comprar conosco, você se junta a uma comunidade de entusiastas de barcos de luxo, permitindo que você compartilhe sua paixão e experiências com outros proprietários.</p>
  
        </div>


      </div>
      



    </div>

   

    {% endblock conteudo%}
