{% extends 'base.html' %}

    {% block conteudo%}

    <div class="principal">

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                AV-2 Voyager
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{url_for('modelo1')}}">AV-1 Explorer</a></li>
                <li><a class="dropdown-item" href="{{url_for('modelo2')}}">AV-2 Voyager</a></li>
                <li><a class="dropdown-item" href="{{url_for('modelo3')}}">AV-3 Summit</a></li>
            </ul>
          </div>

        <h1>2. AV-2 Voyager</h1>

        <p>O AV-2 Voyager é o modelo intermediário, focado em viagens mais longas e com maior capacidade de passageiros.</p>

        <h1>Características:</h1>
        <li><strong>capacidade:</strong> 4 passageiros</li>
        <li><strong>Autonomia:</strong> 200 km</li>
        <li><strong>Velocidade Máxima:</strong> 200 km/h</li>
        <li><strong>Propulsão:</strong> Motores elétricos com sistema híbrido de emergência</li>
        <li><strong>Design:</strong> Espaçoso com portas de abertura vertical</li>
        <li><strong>Segurança:</strong> Tecnologia de navegação avançada com IA, para-choques de absorção de impacto e paraquedas de emergência</li>
        <li><strong>Conforto:</strong> Assentos reclináveis, sistema de entretenimento avançado, Wi-Fi a bordo</li>

        <h1>Uso Ideal:</h1>
        <li>Viagens interurbanas</li>
        <li>Transporte de pequenos grupos ou famílias</li>

        <h1>AeroVenture: Transformando o Futuro da Mobilidade</h1>
        <p>Cada um dos modelos da AeroVenture é projetado com a missão de tornar a mobilidade aérea acessível, segura e sustentável, atendendo às diversas necessidades dos usuários e transformando a forma como nos deslocamos nas cidades e além. Explore novas alturas com a AeroVenture e descubra um mundo de possibilidades.</p>
    </div>


    {% endblock conteudo%}