{% extends 'base.html' %}

    {% block conteudo%}

    <div class="principal">
        <br>
        <h1> Nossa História </h1>

        <h2> De um Sonho à Realidade: A Jornada da Marina Royale </h2>
        <p>Em uma tranquila tarde de verão, à beira do mar Mediterrâneo, dois amigos de infância, Ricardo e Marcelo, sentados em uma praia de areia dourada, compartilhavam um sonho comum: o amor pelo mar e pela liberdade que ele oferece. Desde jovens, eles eram fascinados por embarcações e passavam horas desenhando barcos, imaginando aventuras e explorando novos horizontes. Essa paixão compartilhada foi a semente que mais tarde daria origem à Marina Royale.</p>

        <h2>As Origens</h2>
        <p>Ricardo, com sua visão estratégica e experiência em negócios internacionais, e Marcelo, um engenheiro naval talentoso com um olhar aguçado para design e inovação, decidiram transformar seu sonho em realidade. Em 2001, com muita determinação e um espírito empreendedor, fundaram a Marina Royale. O objetivo era claro: criar uma empresa que oferecesse as mais luxuosas e tecnológicas embarcações, proporcionando uma experiência de navegação inigualável.</p>

        <h2>O Início da Jornada</h2>
        <p>Os primeiros anos foram desafiadores. Ricardo e Marcelo começaram modestamente, operando a partir de um pequeno escritório em Barcelona. Trabalhando incansavelmente, viajaram pelo mundo, visitando estaleiros e construindo relações com os melhores fabricantes de embarcações. Eles sabiam que para conquistar o mercado, precisavam oferecer algo extraordinário, algo que combinasse elegância, inovação e segurança.</p>

        <h2>Um Salto de Fé</h2>
        <p>O grande marco na trajetória da Marina Royale veio em 2005, quando a empresa participou do prestigiado Monaco Yacht Show. Ricardo e Marcelo apresentaram seu primeiro catálogo de iates de luxo, destacando a qualidade e a exclusividade de suas embarcações. O evento foi um sucesso e a Marina Royale rapidamente ganhou reconhecimento no mercado internacional. A combinação de design inovador e compromisso com a excelência chamou a atenção dos clientes mais exigentes e sofisticados.</p>

        <h2>Crescimento e Inovação</h2>
        <p>A partir desse momento, a Marina Royale não parou de crescer. Com uma equipe de profissionais dedicados e apaixonados, a empresa expandiu suas operações, abrindo escritórios em várias cidades costeiras ao redor do mundo. A cada nova embarcação vendida, a reputação da Marina Royale se solidificava como sinônimo de luxo, qualidade e confiabilidade.</p>


        <h2>Pioneirismo e Sustentabilidade</h2>
        <p>Ricardo e Marcelo sempre acreditaram na importância da sustentabilidade. Em 2010, a Marina Royale lançou sua primeira linha de iates ecológicos, equipados com motores híbridos e painéis solares. Essa iniciativa pioneira não apenas destacou a empresa como líder em inovação, mas também reforçou seu compromisso com a preservação dos oceanos.</p>

        <h2>Convidamos Você a Fazer Parte Desta História</h2>
        <p>Cada embarcação vendida pela Marina Royale é mais do que um simples barco; é um símbolo de elegância, inovação e paixão pelo mar. Convidamos você a explorar o mundo com a Marina Royale e a fazer parte dessa história emocionante e contínua.</p>

        <p>Junte-se a nós e embarque na aventura da sua vida.</p>

        <h2>Nosso modelos</h2>
        
        <div class="btn-group">
            <a href="{{url_for('modelo1')}}" class="btn btn-primary">Iate tipo A</a>
            <a href="{{url_for('modelo2')}}" class="btn btn-primary">Iate tipo B</a>
            <a href="{{url_for('modelo3')}}" class="btn btn-primary">Lancha</a>
            <a href="{{url_for('modelo4')}}" class="btn btn-primary">Jet-ski</a>
        
        </div>


        <h2>A Família Marina Royale</h2>

        <p>Ao longo dos anos, a Marina Royale cultivou uma comunidade de proprietários de iates que compartilham a mesma paixão pelo mar e pela navegação. A empresa organiza regularmente eventos exclusivos, regatas e encontros sociais, fortalecendo os laços entre os membros dessa comunidade distinta. Ricardo e Marcelo fazem questão de participar pessoalmente de muitos desses eventos, celebrando as conquistas e histórias de seus clientes.</p>

        <h2>O Futuro Brilhante</h2>

        <p>
            Hoje, a Marina Royale continua a liderar o mercado de embarcações de luxo, sempre à frente das tendências e tecnologias. Com um olhar atento para o futuro, a empresa está investindo em inteligência artificial e automação para criar embarcações ainda mais seguras e confortáveis. Ricardo e Marcelo permanecem fiéis à visão que os uniu: transformar sonhos náuticos em realidade.
        </p>




    </div>

    {% endblock conteudo%}