{% extends 'base.html' %}

    {% block conteudo%}

    <div class="principal">
        <h1> História da AeroVenture: Voando Alto desde o Início </h1>

        <h1>Fundamentos e Visão</h1>
        <p>A AeroVenture nasceu de uma visão ousada e revolucionária: transformar a maneira como as pessoas se deslocam nas cidades. Fundada em 2024 por um grupo de engenheiros aeronáuticos, cientistas da computação e empreendedores apaixonados por inovação, a start-up surgiu com a missão de resolver um dos maiores desafios da mobilidade urbana moderna — o congestionamento e a poluição das grandes cidades.</p>

        <h1>Primeiros Passos</h1>
        <p>A ideia para a AeroVenture foi concebida em um pequeno laboratório em São Francisco, onde os cofundadores, Dr. Clara Silva, engenheira aeronáutica, e João Pereira, cientista da computação, começaram a explorar conceitos de mobilidade aérea urbana. Combinando suas vastas experiências em aviação e inteligência artificial, eles projetaram os primeiros protótipos de veículos voadores capazes de decolar e pousar verticalmente (VTOL).</p>

        <h1>Pesquisa e Desenvolvimento</h1>
        <p>Com a visão de criar um futuro sustentável, a AeroVenture investiu pesadamente em pesquisa e desenvolvimento. Em 2025, a start-up recebeu um significativo financiamento de investidores anjo e fundos de capital de risco, permitindo a construção de um centro de pesquisa de última geração. A equipe de P&D, composta por engenheiros, designers e especialistas em IA, trabalhou incansavelmente para transformar os conceitos iniciais em realidade.</p>

        <p>Em 2027, a AeroVenture revelou seu primeiro protótipo funcional, o AV-1. Este marco não apenas demonstrou a viabilidade dos veículos voadores, mas também atraiu a atenção de parceiros estratégicos e reguladores governamentais.</p>

        <h1>Expansão e Parcerias</h1>
        <p>Com o sucesso do AV-1, a AeroVenture formou parcerias com grandes empresas de tecnologia e transporte, além de colaborar com agências reguladoras para estabelecer padrões de segurança e operações de veículos aéreos urbanos. Em 2028, a empresa lançou seu segundo modelo, o AV-2, incorporando melhorias significativas em termos de eficiência energética, alcance e conforto.</p>

        <h1>Comercialização e Crescimento</h1>
        <p>O ano de 2030 marcou o início da comercialização dos carros voadores da AeroVenture. A empresa lançou serviços de mobilidade aérea em várias cidades ao redor do mundo, começando por São Francisco, Nova Iorque e Tóquio. Esses serviços permitiram que pessoas utilizassem os veículos voadores da AeroVenture para deslocamentos rápidos e convenientes, mudando a dinâmica da mobilidade urbana.</p>


        <h1>Sustentabilidade e Futuro</h1>
        <p>Desde o início, a AeroVenture comprometeu-se com a sustentabilidade. Todos os seus veículos são totalmente elétricos, contribuindo para a redução das emissões de carbono e poluição sonora. Além disso, a empresa investe continuamente em tecnologia de baterias e energias renováveis, buscando tornar suas operações cada vez mais ecológicas.</p>

        <h1>Hoje e Amanhã</h1>
        <p>Hoje, a AeroVenture é líder no mercado de mobilidade aérea urbana, com uma frota de veículos voadores operando em várias metrópoles globais. A empresa continua a inovar, desenvolvendo novas tecnologias e expandindo seus serviços para tornar a mobilidade aérea acessível a um número crescente de pessoas.</p>

        <p>A história da AeroVenture é uma história de visão, inovação e compromisso com um futuro melhor. À medida que continuamos a crescer e evoluir, nossa missão permanece a mesma: transformar a mobilidade urbana, um voo de cada vez.</p>

        <h1>Nosso modelos</h1>
        
        <div class="btn-group">
            <a href="{{url_for('modelo1')}}" class="btn btn-primary">AV-1 Explorer</a>
            <a href="{{url_for('modelo2')}}" class="btn btn-primary">AV-2 Voyager</a>
            <a href="{{url_for('modelo3')}}" class="btn btn-primary">AV-3 Summit</a>
        </div>


        <h1>AeroVenture: Voando Alto para um Futuro Melhor.</h1>



    </div>

    {% endblock conteudo%}